.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.btn {
  margin: 2px;
}
.divbtn {
  float: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.radio-btn {
  margin: 5px;
}
.radio-div {
  margin-top: 10px;
  margin-bottom: 10px;
}
.salary-div {
  margin-top: 10px;
  margin-bottom: 10px;
}
.card {
  margin-top: 5%;
}

.login-div-con {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-left: 20px;
}
.login-btn {
  margin-left: 2%;
}
.log-div {
  margin-top: 3%;
}
.logout-add-btn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
